<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
      <parameters>$(find piper_description)/config/ros2_controllers.yaml</parameters>
      <robot_param_node>robot_state_publisher</robot_param_node>
    </plugin>
  </gazebo>
  
</robot>