<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="PiperFakeSystem" type="system">
    <hardware>
        <plugin>ign_ros2_control/IgnitionSystem</plugin>
        <param name="position_proportional_gain">120.0</param>
        <param name="position_derivative_gain">10.0</param>
    </hardware>
    <joint name="joint1">
        <command_interface name="position">
        </command_interface>
        <state_interface name="position">
            <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
    </joint>
    <joint name="joint2">
        <command_interface name="position">
        </command_interface>
        <state_interface name="position">
            <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
    </joint>
    <joint name="joint3">
        <command_interface name="position">
        </command_interface>
        <state_interface name="position">
            <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
    </joint>
    <joint name="joint4">
        <command_interface name="position">
        </command_interface>
        <state_interface name="position">
            <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
    </joint>
    <joint name="joint5">
        <command_interface name="position">
        </command_interface>
        <state_interface name="position">
            <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
    </joint>
    <joint name="joint6">
        <command_interface name="position">
        </command_interface>
        <state_interface name="position">
            <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
    </joint>
    <joint name="joint7">
        <command_interface name="position">
        </command_interface>
        <state_interface name="position">
            <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
    </joint>
    <joint name="joint8">
        <command_interface name="position"/>
        <state_interface name="position">
        <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
    </joint>
  
  </ros2_control>
</robot>